@import url("https://fonts.googleapis.com/css2?family=Jua&family=Rubik&display=swap");
:root {
  --navy-color: #3586ff;
  --bg-color: #fafafa;
  --red-strong: #ff416c;
}
*::selection {
  background-color: #ffa500;
  color: #ffffff;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Rubik", "Jua", sans-serif;
  vertical-align: baseline;
  background: transparent;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  background-color: var(--bg-color);
}
body::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
}
ins {
  background: var(--navy-color);
  text-decoration: none;
  color: #fff;
  padding: 0.125rem;
  border-radius: 0.1875rem;
}
.app {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body .react-wavy-transitions__wavy-link {
  border: 4px solid var(--navy-color);
  border-radius: 4px;
  color: var(--navy-color);
  font-weight: 700;
  width: 200px;
  height: 50px;
}
body .react-wavy-transitions__wavy-link:first-child {
  background: linear-gradient(to right, #b21f1f, #333, #1a2a6c);
  border: none;
  border-radius: 4px;
  color: white;
  width: 200px;
  height: 50px;
  margin-bottom: 40px;
}

.di-fl-col {
  display: flex;
  flex-direction: column;
}
.di-fl-row {
  display: flex;
  flex-direction: row;
}

.algn-cntr {
  align-items: center;
}

.mgn-4 {
  margin: 0.25rem;
}

.mgn-125-top-btm {
  margin: 1.25rem 0rem;
}

.main-event-date {
  min-height: 7.5rem;
  height: auto;
  width: 100%;
  background-color: #323232;
  border-bottom: 0.0625rem solid #b8b8b8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}
.media-countdown-box {
  width: 4.45rem;
  height: 3.75rem;
  border: 0.3125rem solid #3f3f3f;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.35rem;
  box-shadow: 0 0.155rem 0.155rem 0rem rgba(10, 10, 10, 0.8);
}
.media-countdown-time {
  background-color: #fafafa;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  color: #3f3f3f;
  border-radius: 0.125rem;
}
.media-countdown-span {
  background-color: #3f3f3f;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
}

.main-date-calc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-date-calc > span {
  color: #fafafa;
}
.date-calc-time {
  display: flex;
}

.time-img,
.dash-img {
  height: 30px;
  object-fit: contain;
  margin-left: 2px;
}
/* 
###################################################
                      map
###################################################
*/

.fix {
  color: white;
  display: flex;
  align-items: center;
  padding: 0.3125rem;
  height: 1.875rem;
  background: linear-gradient(to right, #1a2a6c, #333, #b21f1f);
  border-radius: 0.125rem;
  z-index: 3;
}

.pick-blue,
.pick-red,
.ban {
  background-color: #0575e6;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.3125rem;
  height: 1.875rem;
  border-radius: 0.125rem;
}

.pick-red {
  background-color: var(--red-strong);
}

.ban {
  background-color: #666;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: line-through #c40000;
}

/* 
###################################################
                      main
###################################################
*/

.main {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.first-section {
  width: 100%;
  height: 100vh;
  min-height: 36.25rem;
  align-items: center;
  background: linear-gradient(to bottom right, #ff0000, #111, #0055ff);
}

.logo {
  animation: bounce-in-bck 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.logo-img {
  height: 18.75rem;
  width: 18.75rem;
  object-fit: contain;
  filter: drop-shadow(2px 2px 10px #121212);
}
/* @keyframes bounce-in-bck {
  0% {
    transform: scale(7);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(1.5);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(1.24);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(1.04);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
} */

.main-team-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}

.main-red-team,
.main-red-team-box {
  animation: fromLeft 0.7s ease-in-out;
  animation-delay: 0.2s;
}

.main-red-team-box .main-user-list:nth-child(1) {
  animation: fromLeft 0.8s ease-in-out;
  animation-delay: 0.2s;
}
.main-red-team-box .main-user-list:nth-child(2) {
  animation: fromLeft 0.9s ease-in-out;
  animation-delay: 0.2s;
}
.main-red-team-box .main-user-list:nth-child(3) {
  animation: fromLeft 1s ease-in-out;
  animation-delay: 0.2s;
}
.main-red-team-box .main-user-list:nth-child(4) {
  animation: fromLeft 1.1s ease-in-out;
  animation-delay: 0.2s;
}
.main-red-team-box .main-user-list:nth-child(5) {
  animation: fromLeft 1.2s ease-in-out;
  animation-delay: 0.2s;
}

.main-blue-team,
.main-blue-team-box {
  animation: fromRight 0.7s ease-in-out;
  animation-delay: 0.2s;
}

.main-blue-team-box .main-user-list:nth-child(1) {
  animation: fromRight 0.8s ease-in-out;
  animation-delay: 0.2s;
}
.main-blue-team-box .main-user-list:nth-child(2) {
  animation: fromRight 0.9s ease-in-out;
  animation-delay: 0.2s;
}
.main-blue-team-box .main-user-list:nth-child(3) {
  animation: fromRight 1s ease-in-out;
  animation-delay: 0.2s;
}
.main-blue-team-box .main-user-list:nth-child(4) {
  animation: fromRight 1.1s ease-in-out;
  animation-delay: 0.2s;
}
.main-blue-team-box .main-user-list:nth-child(5) {
  animation: fromRight 1.2s ease-in-out;
  animation-delay: 0.2s;
}

/* @keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-6.25rem) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(6.25rem) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
} */
.main-blue-team .blue-win,
.main-red-team .red-win {
  position: absolute;
  transform: rotate(12deg);
  color: #ffd700;
  font-size: 25px;
  padding: 0rem 0.15rem;
  border: 0.2rem solid #ffd700;
  border-radius: 0.6rem;
  mask-size: 944px 604px;
  -webkit-mask-size: 944px 604px;
  -webkit-mask-position: 13rem 6rem;
  mask-position: 13rem 6rem;
  mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png");
  -webkit-mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png");
  opacity: 0;
}

.main-blue-team .blue-win {
  top: -10px;
  right: -10px;
  animation: star-animation-blue 0.6s 1s ease forwards;
}

/* @keyframes star-animation-blue {
  0% {
    opacity: 0.1;
    transform: rotate(12deg) scale(0.2);
 }
  50% {
    opacity: 0.5;
    transform: rotate(12deg) scale(2);
 }
 86%{
  opacity: 0.8;
  transform: rotate(12deg) scale(0.6);
 }
  100% {
    opacity: 1;
    transform: rotate(12deg) scale(1);
 }
} */

.main-red-team .red-win {
  top: -10px;
  left: 0px;
  opacity: 0;
  transform: rotate(-12deg);
  animation: star-animation-red 0.6s 1s ease forwards;
}

/* @keyframes star-animation-red {
  0% {
    opacity: 0.1;
    transform: rotate(-12deg) scale(0.2);
 }
  50% {
    opacity: 0.5;
    transform: rotate(-12deg) scale(1.8);
 }
  100% {
    opacity: 1;
    transform: rotate(-12deg) scale(1);
 }
} */

.none-win {
  display: none;
}

.main-red-team,
.main-blue-team {
  align-items: center;
  width: 6.875rem;
  position: relative;
}
.main-red-team h1,
.main-blue-team h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #efefef;
  -webkit-text-stroke: 0.125rem var(--red-strong);
}

.main-blue-team-box > .cross,
.main-red-team-box > .cross {
  border: 1px solid rgb(132, 132, 132);
}

.main-red-team h4,
.main-blue-team h4 {
  color: #ececec;
}

.main-line-up {
  align-items: center;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: auto;
  min-height: 7.375rem;
}

.main-red-team-box,
.main-blue-team-box {
  height: 15.625rem;
  width: 100%;
}

.main-red-team-box .main-user-list,
.anyOneRed {
  color: #ff416c;
  font-weight: bold;
  margin-top: 0.25rem;
}

.main-waiter {
  padding-bottom: 1.25rem;
  margin-top: 0.625rem;
  align-items: center;
  height: auto;
  min-height: 7.375rem;
}

.main-blue-team h1 {
  -webkit-text-stroke: 0.125rem var(--navy-color);
}

.main-blue-team-box .main-user-list,
.anyOneBlue {
  color: var(--navy-color);
  font-weight: bold;
  margin-top: 0.25rem;
}

.main-map-list {
  background-color: #323232;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 30rem;
  height: auto;
  padding: 1rem 0rem;
  margin-bottom: 0.625rem;
}

.main-map-list h2,
.main-map-list span {
  color: #fff;
}

.main-map-list h2 {
  border-bottom: 0.0625rem solid #fafafa;
}

.main-map-section {
  width: 100%;
}

.main-map-speed,
.main-map-item {
  height: 90%;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0.125rem 0.25rem;
}

.main-item-list,
.main-speed-list {
  margin: 0.25rem 0rem;
}

.main-set-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 12.5rem;
  height: auto;
  padding: 0.625rem 0rem;
  background-color: var(--bg-color);
}

.main-set-one:last-child > .cross {
  display: none;
}

.main-set-grid {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr;
  background-color: var(--bg-color);
}

.main-set-one-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  background-color: #fafafa;
  height: 1.875rem;
  text-align: center;
  padding: 0.0313rem;
}

.main-set-one-list span {
  font-size: 0.9rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bdr-rds {
  border-radius: 0.125rem;
}

.main-ace {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100px;
}

.closeAce,
.back-closeAce {
  background: #ffa500;
  width: 160px;
  height: 1.8125rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.back-closeAce {
  background: #808080;
}

.closeAce {
  z-index: 4;
}

.revealAce {
  position: absolute;
  animation-delay: 1s;
  width: 10rem;
  overflow: hidden;
  height: 1.875rem;
}

.revealAce::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffa500;
  animation: a-ltr-after 1s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
  z-index: 9;
}

.revealAce::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #ffa500;
  animation: a-ltr-before 1.8s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
  z-index: 9;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

.main-set-one-list .pick-blue,
.main-set-one-list .pick-red,
.main-set-one-list .ban,
.main-set-one-list .fix,
.none-option {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.main-fix {
  order: -1;
}

.none-option {
  opacity: 0.5;
  color: #818181;
  border: 0.0625rem solid #eee;
}

/* 
###################################################
                      footer
###################################################
*/
.footer {
  height: auto;
  width: 100vw;
  background-color: #006ab7;
  justify-content: space-around;
  align-items: center;
  padding: 0.75rem;
  color: #fff;
}
.footer a,
.footer a:visited {
  color: #fff;
}
.footer a:hover,
.footer a:focus,
.footer h4 {
  color: #ffa500;
}

.footer-header,
.footer-body {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.footer h2 {
  border-bottom: 0.096rem solid #ffa500;
}

.jcmaker {
  border-bottom: 1px solid #ffa500;
}

.footer-last {
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  height: auto;
  width: 100%;
  margin-top: 2.25rem;
  z-index: 1000;
  background-color: #006ab7;
}

.span-link {
  border: 2px solid #f0f0f0;
  width: 100px;
  height: 30px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  border-radius: 14px;
}

.span-link:hover,
.span-link:focus {
  border: 2px solid #ffa500;
  color: #ffa500;
}

.footer-body {
  height: 50%;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 31.25rem;
}

.about {
  width: 100%;
  margin-bottom: 2.5rem;
}

.rule-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 0.0625rem solid #eee;
  padding: 0.3125rem;
}

.rule-title {
  flex: 0.3;
  display: flex;
  align-items: center;
  border-right: 0.0625rem solid #999;
  margin-right: 0.25rem;
}

.rule-text {
  flex: 1;
  opacity: 0.85;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(0.3125rem);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  scroll-behavior: none;
  padding: 0.3125rem;
}
.modal-card {
  width: 80%;
  max-width: 37.5rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0.925rem 0.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.2s;
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-card:before,
.modal-card:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.modal-card:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.modal-card:after {
  background: #f6f6f6;
  box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.2);
  right: -0.1875rem;
  top: 0.0625rem;
  transform: rotate(1.4deg);
}

.modal p {
  color: #2e2e2e;
  margin: 0.625rem 0rem;
  font-size: small;
}

.modal h1 {
  color: #333;
  font-weight: 100;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem;
}

.modal-header h5 {
  color: #ffa500;
}

.inquiry {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.875rem;
}

.inquiry .address {
  background-color: #ffa500;
  padding: 0.125rem 0.125rem;
  border-radius: 0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.875rem;
}

.inquiry .address:hover {
  background-color: transparent;
  color: #ffa500;
}

.openRule {
  width: 3.125rem;
  height: 3.125rem;
  background-color: #2f80ed;
  display: flex;
  object-fit: contain;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 0.9375rem;
  animation: pulse 1250ms infinite;
  z-index: 999;
}

@keyframes pulse {
  0% {
    box-shadow: #2f80ed 0 0 0 0;
  }
  75% {
    box-shadow: #2f80ed00 0 0 0 0.575rem;
  }
}

.add-mui {
  width: 1.375rem;
  object-fit: contain;
}
.clear-mui {
  width: 1.5625rem;
  object-fit: contain;
}
