@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&family=Rubik&display=swap");
:root {
  --navy-color: #006ab7;
  --bg-color: #fafafa;
  --red-strong: #ff416c;
  --red-light: #fdeff9;
  --blue-strong: #00b4db;
  --blue-light: #65c7f7;
}
*::selection {
  background-color: #ffa500;
  color: #ffffff;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Rubik", "Jua", sans-serif;
  vertical-align: baseline;
  background: transparent;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
body::-webkit-scrollbar {
  display: none; 
}
a {
  text-decoration: none;
}
.app {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
}
.warn {
  color: #ff0000;
}
.fine {
  color: #099c09;
}
/* 
###################################################

                      admin

###################################################
*/

.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 0.625rem 0.25rem;
  background-color: #dcdcdc;
}

.admin--team-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  min-height: 50rem;
  height: auto;
  box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
  background-color: #fafafa;
  border-radius: 1.25rem;

}

.red-team,
.blue-team {
  width: 45%;
  height: 37.5rem;
}

.red-team h4,
.red-team h1 {
  color: var(--red-strong);
}
.blue-team h4,
.blue-team h1 {
  color: var(--blue-strong);
}

.red-team-box,
.blue-team-box {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red-team-box {
  border: 0.0625rem solid var(--red-strong);
}
.blue-team-box {
  border: 0.0625rem solid var(--blue-strong);
}

.admin-form {
  width: 90%;
}

.form-input {
  border-bottom: 0.16rem solid gray;
  width: 80%;
}

button {
  background-color: #e2e2e2;
  border-radius: 0.625rem;
  width: 2.8125rem;
  height: 1.25rem;
}

.line-up {
  flex: 1;
}

.cross {
  width: 100%;
  border: 0.0625rem solid #eee;
}

.waiter {
  flex: 0.8;
}

.waiter,
.line-up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  width: 100%;
  height: 100%;
}

.event-date {
  width: 95%;
  height: auto;
  min-height: 9.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
  background-color: #fafafa;
  border-radius: 1.25rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem 0rem;
}

.event-date-form {
  width: 80%;
  height: 1.875rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.event-date-form > button {
  border-radius: 0rem;
  height: 1.575rem;
}

input[type="date"],
input[type="time"] {
  position: relative;
  min-height: 1.25rem;
  border: 0.0625rem solid #ddd;
  font-size: 0.95rem;
  margin: 0rem 0.125rem;
}

input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

.date-calc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.date-calc-time {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.date-calc > span {
  color: #fafafa;
}

.main-event-date {
  min-height: 7.5rem;
  height: auto;
  width: 100%;
  background-color: #323232;
  border-bottom: 0.0625rem solid #b8b8b8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}

.media-countdown-box {
  width: 3.75rem;
  height: 3.75rem;
  border: 0.3125rem solid #3f3f3f;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
  box-shadow: 0 0.155rem 0.155rem 0rem rgba(10, 10, 10, 0.8);
}

.media-countdown-time {
  background-color: #fafafa;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  color: #3f3f3f;
  border-radius: 0.125rem;
}

.media-countdown-span {
  background-color: #3f3f3f;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
}
/* 
###################################################

                      userlist

###################################################
*/

.user-list {
  width: 9.25rem;
  height: 2.55rem;
  padding: 0.0625rem 0.25rem;
  display: flex;
  border-radius: 0.625rem;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.3s;
}

.user-list:hover,
.speed-list:hover,
.item-list:hover {
  box-shadow: 0 0 0.6875rem rgba(33, 33, 33, 0.2);
}

/* 
###################################################

                      map

###################################################
*/

.map-section {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fafafa;
  box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
  border-radius: 1.25rem;
  padding: 0.75rem 0rem;
}

.map-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.map-speed,
.map-item {
  min-height: 30rem;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem;
}

.speed-list,
.item-list {
  width: 60%;
  height: 1.875rem;
  padding: 0rem 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 0.1875rem 0rem;
  transition: box-shadow 0.3s;
}

.set-one {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border-radius: 20px;
  box-shadow: 0.25rem 0.25rem 0.375rem #cecece,
    -0.125rem -0.125rem 0.1875rem rgb(241, 241, 241);
  padding: 0.625rem;
  margin-bottom: 20px;
}

.set-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: border-bottom 0.3s;
  margin: 10px 0px;
}

.set-list:hover {
  border-bottom: 0.125rem solid #006ab7;
}

.set-list-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.set-list-btn button {
  margin-left: 0.25rem;
}

.stick {
  color: white;
  display: flex;
  align-items: center;
  padding: 0.3125rem;
  height: 1.875rem;
  background: linear-gradient(to right, #1a2a6c, #333, #b21f1f);
  border-radius: 0.125rem;
}

.pick-blue,
.pick-red, .ban {
  background-color: #0575e6;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.3125rem;
  height: 1.875rem;
  border-radius: 0.125rem;
}

.pick-red {
  background-color: var(--red-strong);
}

.ban {
  background-color: #666;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: line-through #c40000;
}

/* 
###################################################

                      main

###################################################
*/

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.first-section {
  width: 100%;
  height: 100vh;
  min-height: 36.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, #ff0000, #111, #0000ff);
}

.logo {
  animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.logo img {
  height: 18.75rem;
  width: 18.75rem;
  object-fit: contain;
}


@keyframes slide-in-bck-center {
  0% {
            transform: translateZ(56.25rem) scale(6);
    opacity: 0;
  }
  100% {

            transform: translateZ(0) scale(1);
    opacity: 1;
  }
}

.main-team-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}

.main-red-team, .main-red-team-box {
  animation: fromLeft 0.7s ease-in-out;
  animation-delay: 0.2s;
}

.main-blue-team, .main-blue-team-box {
  animation: fromRight 0.7s ease-in-out;
  animation-delay: 0.2s;
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-6.25rem) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(6.25rem) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.main-red-team,
.main-blue-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6.875rem;
}

.main-red-team h1, .main-blue-team h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 0.125rem var(--red-strong);
}

.main-red-team h4,
.main-blue-team h4 {
  color: white;
}

.main-line-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  height: auto;
  min-height: 7.375rem;
}

.main-red-team-box,
.main-blue-team-box {
  height: 15.625rem;
  width: 100%;
}

.main-red-team-box .main-user-list,
.anyOneRed {
  color: #ff416c;
  font-weight: bold;
  margin-top: 0.25rem;
}

.main-waiter {
  padding-bottom: 1.25rem;
  margin-top: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 7.375rem;
}

.main-blue-team h1 {
  -webkit-text-stroke: 0.125rem var(--blue-strong);
}

.main-blue-team-box .main-user-list,
.anyOneBlue {
  color: #00b4db;
  font-weight: bold;
  margin-top: 0.25rem;
}

.main-map-list {
  background-color: #323232;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 30rem;
  height: auto;
  padding: 0.625rem 0rem;
}

.main-map-list h2,
.main-map-list span {
  color: #fff;
}

.main-map-list h2 {
  border-bottom: 0.0625rem solid #fafafa;
}

.main-map-section {
  width: 100%;
}

.main-map-speed,
.main-map-item {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0.125rem 0.25rem;
}

.main-item-list,
.main-speed-list {
  margin: 0.25rem 0rem;
}

.main-set-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 12.5rem;
  height: auto;
  padding: 0.625rem 0rem;
}

.main-set-one:nth-child(5) > .cross {
  display: none;
}

.main-set-grid {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr;
}

.main-set-one-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  background-color: #fff;
  height: 1.75rem;
  text-align: center;
  padding: 0.0313rem;
}

.main-set-one-list span {
  font-size: 0.8rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-set-one-list .pick-blue,
.main-set-one-list .pick-red,
.main-set-one-list .ban,
.main-set-one-list .stick,
.none-option {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.main-stick {
  order: -1;
}

.none-option {
  opacity: 0.5;
  color: #818181;
  border: 0.0625rem solid #eee;
}

/* 
###################################################

                      footer

###################################################
*/

.footer {
  height: auto;
  width: 100vw;
  background-color: #006ab7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.75rem;
  color: #fff;
}
.footer a,
.footer a:visited {
  color: #fff;
}
.footer a:hover,
.footer a:focus, .footer h4 {
  color: #ffa500;
}

.footer-header,
.footer-body {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.footer h2 {
  border-bottom: 0.096rem solid #ffa500;
}

.footer-last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 1.25rem;
  z-index: 1000;
  background-color: #006ab7;
}

.footer-body {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 31.25rem;
}

.about {
  width: 100%;
  margin-bottom: 0.5rem;
}

.rule-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 0.0625rem solid #eee;
  padding: 0.3125rem;
}

.rule-title {
  flex: 0.3;
  display: flex;
  align-items: center;
  border-right: 0.0625rem solid #999;
  margin-right: 0.25rem;
}

.rule-text {
  flex: 1;
}

.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.3125rem);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  scroll-behavior: none;
  padding: 0.3125rem;
}
.modal-card {
  width: 80%;
  max-width: 37.5rem;
  background-color: #006ab7;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 0.2s;
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.modal p {
  color: #fafafa;
}

.modal h1 {
  color: #fff;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem;
}

.modal-header h5 {
  color: #ffa500;
}

.inquiry {
  display: flex;
  justify-content: center;
  align-items: center;
}

.openRule {
  width: 3.125rem;
  height: 3.125rem;
  background-color: #2f80ed;
  display: flex;
  object-fit: contain;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 0.9375rem;
  animation: pulse 1250ms infinite;
  z-index: 999;
}

@keyframes pulse {
  0% {
    box-shadow: #2f80ed 0 0 0 0;
  }
  75% {
    box-shadow: #2f80ed00 0 0 0 0.575rem;
  }
}

.add-mui {
  width: 1.375rem;
  object-fit: contain;
}
.clear-mui {
  width: 1.5625rem;
  object-fit: contain;
}

.admin-footer {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #808080;
}

.admin-footer span {
  margin: 2px 0px;
}
/* 
###################################################

                      No-Match

###################################################
*/

.no-match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0.5rem;
}

code {
  font-size: 1.875rem;
  color: #006ab7;
}

.no-match img {
  width: 18.75rem;
  object-fit: contain;
}

.no-match a {
  background-color: #0000ff;
  width: 10rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}
