/* 
###################################################


                    0. Root
                    1. Admin
                    2. userlist
                    3. Map
                    4. Main
                    5. 
                    6. 
                    7. Footer

                            - Made By Justin Cho -
###################################################
*/

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&family=Rubik&display=swap");

:root {
  --navy-color: #006ab7;
  --bg-color: #fafafa;
  --red-strong: #ff416c;
  --red-light: #fdeff9;
  --blue-strong: #00b4db;
  --blue-light: #65c7f7;
}

*::selection {
  background-color: orange;
  color: white;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Rubik", "Jua", sans-serif;
  vertical-align: baseline;
  background: transparent;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

a {
  text-decoration: none;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
}

/* 
###################################################

                      admin

###################################################
*/

.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

.admin--team-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50rem;
}

.red-team,
.blue-team {
  width: 45%;
  height: 37.5rem;
}

.red-team h4,
.red-team h1 {
  color: var(--red-strong);
}
.blue-team h4,
.blue-team h1 {
  color: var(--blue-strong);
}

.red-team-box {
  border: 0.25rem solid var(--red-strong);
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.blue-team-box {
  border: 0.25rem solid var(--blue-strong);
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-input {
  border-bottom: 0.16rem solid gray;
}

button {
  background-color: #e2e2e2;
  border-radius: 10px;
  width: 45px;
  height: 20px;
}

.line-up {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
}

.cross {
  width: 100%;
  border: 0.0625rem solid #eee;
}

.waiter {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
}
/* 
###################################################

                      userlist

###################################################
*/

.user-list {
  width: 6.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 
###################################################

                      map

###################################################
*/

.map-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.map-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.map-speed,
.map-item {
  height: 34.375rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem;
}

.speed-list,
.item-list {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.125rem solid white;
}

.set-one {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 46.875rem;
  border: 0.25rem solid black;
  padding: 0.625rem;
}

.set-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.125rem solid #006ab7;
}

.set-list-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.set-list-btn button {
  margin-left: 0.25rem;
}

.stick {
  color: white;
  display: flex;
  align-items: center;
  padding: 0.3125rem;
  height: 1.875rem;
  border: 0.1875rem solid blue;
  background: linear-gradient(to right, #1a2a6c, #333, #b21f1f);
  border-radius: 0.125rem;
}

.pick {
  background-color: #0575e6;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.3125rem;
  height: 100%;
  border-radius: 0.125rem;
}

.ban {
  background-color: #666;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.3125rem;
  height: 1.875rem;
  border-radius: 0.125rem;
}

/* 
###################################################

                      main

###################################################
*/

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.first-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, red, #111, blue);
}

.logo {
  animation: fromTop 0.5s ease-in-out;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

.logo img {
  height: 18.75rem;
  width: 18.75rem;
  object-fit: contain;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-6.25rem) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.main-team-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}

.main-red-team {
  animation: fromLeft 0.6s ease-in-out;
  animation-delay: 0.2s;
}

.main-red-team-box {
  animation: fromLeft 0.6s ease-in-out;
  animation-delay: 0.3s;
}

.main-blue-team-box {
  animation: fromRight 0.6s ease-in-out;
  animation-delay: 0.3s;
}

.main-blue-team {
  animation: fromRight 0.6s ease-in-out;
  animation-delay: 0.2s;
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-6.25rem) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(6.25rem) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.main-red-team,
.main-blue-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6.875rem;
}

.main-red-team h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 0.125rem var(--red-strong);
}

.main-red-team h4,
.main-blue-team h4 {
  color: white;
}

.main-line-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.main-red-team-box,
.main-blue-team-box {
  height: 15.625rem;
  width: 100%;
}

.main-red-team-box .main-user-list {
  color: #ff416c;
  font-weight: bold;
  margin-top: 0.25rem;
}

.main-waiter {
  padding-bottom: 1.25rem;
  margin-top: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-blue-team h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 0.125rem var(--blue-strong);
}

.main-blue-team-box .main-user-list {
  color: #00b4db;
  font-weight: bold;
  margin-top: 0.25rem;
}

.main-map-list {
  background-color: #323232;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 30rem;
}

.main-map-list h2,
.main-map-list span {
  color: #fff;
}

.main-map-list h2 {
  border-bottom: 0.0625rem solid #fafafa;
}

.main-map-section {
  width: 100%;
}

.main-map-speed,
.main-map-item {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-set-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12.5rem;
  padding-top: 0.3125rem;
}

.main-set-grid {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr;
}

.main-set-one-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  background-color: #fff;
  height: 1.75rem;
  text-align: center;
  padding: 0.0313rem;
}

.main-set-one-list span {
  font-size: 0.8rem;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-set-one-list .pick,
.main-set-one-list .ban,
.main-set-one-list .stick,
.none-option {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.none-option {
  opacity: 0.5;
  color: gray;

  border: 0.0625rem solid #eee;
}

/* 
###################################################

                      footer

###################################################
*/

.footer {
  height: auto;
  width: 100vw;
  background-color: #006ab7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.75rem;
  color: #fff;
}
.footer a,
.footer a:visited {
  color: #fff;
}
.footer a:hover,
.footer a:focus {
  color: orange;
}

.footer h4 {
  color: orange;
}

.footer-header,
.footer-body,
.footer-last {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.footer-last {
  margin-bottom: 5rem;
}

.footer-body {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 31.25rem;
}

.about {
  width: 100%;
  margin-bottom: 0.5rem;
}

.rule-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 0.0625rem solid #eee;
  padding: 0.3125rem;
}

.rule-title {
  flex: 0.3;
  display: flex;
  align-items: center;
  border-right: 0.0625rem solid #999;
  margin-right: 0.25rem;
}

.rule-text {
  flex: 1;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.3125rem);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  scroll-behavior: none;
  padding: 0.3125rem;
}
.modal-card {
  width: 80%;
  max-width: 37.5rem;
  background-color: #006ab7;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
}

.modal p {
  color: #fafafa;
}

.modal h1 {
  color: #fff;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem;
}

.modal-header h5 {
  color: orange;
}

.inquiry {
  display: flex;
  justify-content: center;
  align-items: center;
}

.openRule {
  width: 3.125rem;
  height: 3.125rem;
  background-color: #2f80ed;
  display: flex;
  object-fit: contain;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 0.9375rem;
  animation: pulse 1250ms infinite;
  z-index: 999;
}

@keyframes pulse {
  0% {
    box-shadow: #2f80ed 0 0 0 0;
  }
  75% {
    box-shadow: #2f80ed00 0 0 0 0.875rem;
  }
}

.add-mui {
  width: 1.375rem;
  object-fit: contain;
}
.clear-mui {
  width: 1.5625rem;
  object-fit: contain;
}

/* 
###################################################

                      No-Match

###################################################
*/

.no-match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0.5rem;
}

code {
  font-size: 1.875rem;
  color: #006ab7;
}

.no-match img {
  width: 18.75rem;
  object-fit: contain;
}

.no-match a {
  background-color: Blue;
  width: 10rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}
